<% provide(:title, "About") %>
<h1>About Page</h1>
<p>This is a personal project for me to study Ruby on Rails framework.</p>
<br>
<p>I'm a brazilian eletronic and computing engineering student.
  See my projects at my <%= link_to "GitHub", "https://github.com/lucasvieira94" %> page!</p>
