<li>
  <% if user.profile_picture? %>
    <%= image_tag(user.profile_picture, size: 80, class: 'profile_picture') %>
  <% else %>
    <%= image_tag(user.default_avatar, size: 80, class: 'profile_picture') %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
</li>
